body{
    background-color: #113d3a;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.jokeapp{
    width:400px;
    min-height:250px;
    background-color: aquamarine;
    border-radius: 15px;
    padding:12px;
}

.jokeapp h1{
    border-bottom: 1px solid black;
    text-align:center;
}

.jokeapp button {
    width:100%;
    padding:5px;
    background-color: #113d3a;
    color:#fff;
    cursor:pointer;
}

.jokeapp button:hover{
    background-color: green;
}